*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(22, 190, 182);
    background-repeat: no-repeat;
    height: 1080px;

}

.section{
    width: 428px;
}


.asenso-img{
    position: absolute;
    scale: 0.15;
    left: -50.5rem;
    top: -20rem;
    box-shadow: 0 0 10rem black;
    border-radius: 5rem;
}

button{
    position: absolute;
    display: flex;
    justify-self: center;
    margin-top: 5rem;
    padding: 10px 100px;
    border-radius: 10px;
    font-weight: 700;
    border: none;
}

.leg1-img{
    position: absolute;
    left: -31.5rem;
    scale: 0.2;
    top: -43rem;
    box-shadow: 0 0 10rem black;
    border-radius: 5rem;
}

.header{
    justify-self: center;
    margin-top: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


.navbar-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(44, 44, 44), rgb(29, 219, 209) );
    height: 4.5rem;
}

.menu-container{
    height: -10rem;
    margin: 0 0 0 23rem;
    color: white;
}




.countdown-container{
    background-color: rgb(29, 219, 209);
    width: 70%;
    justify-items: center;
    justify-self: center;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 35rem;
    margin-left: 5rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    font-weight: 700;
}

.countdown-header{
    margin-bottom: 15px;
}




.flex-numbers{
    display: flex;
    gap: 30px;
}

.num-container{
    background-color: rgb(255, 255, 255);
    justify-items: center;
    padding: 10px;
    border-radius: 7px;
}

.num-p{
    margin-top: 10px;
}


